@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family:  'Caveat', bold;
}

body {
  font-family: 'Caveat', bold;
  background-image: url('/images/fond.jpg');
  background-color: rgba(255, 255, 255, 0.5); /* Ajustez l'opacité selon vos besoins */
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f7e1cd;
}

ul.header{
  padding-right: 40px;
}

.filtre{
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  margin-right: 80px;
  padding-top: 60px;
}

.home{
  display: flex;
  flex-direction: row;
  padding-top: 60px;
}

h1 {
  text-align: center;
}

.logo { 
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin: 0 10px;
}  

header img {
  width: 120px; 
  height: auto; 
  border-radius: 50%; 
  margin: 0 10px; 
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #F7E1CD;
  box-shadow: 0 0 10px #f7e1cd(0, 0, 0, 0.1);
  width: 210px;
  border-radius: 8px;
}
fieldset {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #f7e1cd;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 5px;
}


div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-item {
  padding-right: 15px;
  width: 350px;
  height: 650px;
  background-color: #f7e1cd;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.product-item .product-image {
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin-bottom: 15px;
}

.product-item h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}

.product-item p {
  margin-bottom: 10px;
  text-align: center;
}

.product-item form {
  width: 80%;
  margin-top: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item select,
.product-item button {
  margin: 5px 0;
}

.product-item button {
  background-color: #f8d5a3;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.product-item button:hover {
  background-color: #f4ac78;
}


.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  width: 25%; /* Ajustez ce pourcentage pour le nombre d'éléments par ligne */
  margin-bottom: 20px;
  text-align: center; /* Centre le texte et les images à l'intérieur de l'élément */
}

.product-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.product-link {
  text-decoration: none;
  color: black;
  font-family: 'Caveat', bold;
}

.product-link,
.button-common {
  text-decoration: none;
  color: black;
  font-family: 'Caveat', cursive;
  font-weight: 400; 
}

.product-link:hover,
.product-link:focus,
.button-common:hover,
.button-common:focus {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: #333;
  font-family: 'Caveat', cursive;
}

a:hover {
  color: #555;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

button {
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Caveat', cursive;
}

button:hover {
  background-color: #555;
}

.product-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: #f7e1cd;
  border-radius: 8px;
}

.product-detail img {
  max-width: 300px;
  height: auto;
}

.image-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 50px;
  padding-top: 30px;
}

.image-detail .image-container {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
}

.image-detail .image-container:hover {
  transform: scale(1.1);
}

.text-detail{
  display: flex;
  flex-direction: column;
  width: 800px;
  padding-left: 180px;
}

.product-detail p {
  font-size: 1.2em;
}

.product-detail select {
  margin: 10px 0;
  padding: 5px;
}

.product-detail form {
  margin: 20px 0;
}

.recommended-products {
  margin-top: 40px;
}

.recommended-products ul {
  display: flex;
  overflow-x: scroll;
  list-style: none;
  padding: 0;
  margin: 0;
}
.product-detail p {
  margin-bottom: 10px;
  text-align: center;
}

.product-detail form {
  width: 80%;
  margin-top: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-detail select,
.product-detail button {
  margin: 5px 0;
}

.product-detail button {
  width: 160px;
  background-color: #f8d5a3;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.product-detail button:hover {
  background-color: #f4ac78;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.recommended-products {
  margin-top: 40px;
}

.recommended-products h1 {
  text-align: center;
  color: white

}

.recommended-products .recommended-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.recommended-products .recommended-item {
  flex: 1 1 calc(15% - 20px);
  text-align: center;
  background: #f7e1cd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recommended-products .recommended-item .image-container {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.recommended-products button {
  width: 160px;
  background-color: #f8d5a3;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.recommended-products button:hover {
  background-color: #f4ac78;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination a {
  margin: 0 5px;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: white;
}

.pagination a.active {
  background: gold;
  color: gold;
}

footer{
  color: white;
  display: flex;
  justify-content: center;
}