<!-- frontend/views/partials/header.ejs -->
<header>
    <nav>
        <ul class="header">
            <a href="/cart" >
                <img src="/images/panier.png" style="color: #ac7961;" alt="Home" style="width: 50px; height: 50px;">
            </a>
            <a class="logo" href="/">
                <img src="/images/logo.png" alt="Home" style="width: 150px; height: 150px;">
            </a>
            <a href="/favorites" >
                <img src="/images/fleur.png" style="color: #ac7961;" alt="Home" style="width: 50px; height: 50px;">
            </a>
        </ul>
    </nav>
</header>
